<div class="row w3-padding-32">
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <table class="w3-table-all">
          <tr>
            <th>Restaurant Name:</th>
            <td><input type="text" name="resturantName" placeholder="Enter Resturant Name..." class="w3-input"></td>
          </tr>
          <tr>
            <th>Restaurant Id:</th>
            <td><input type="text" name="resturantName" placeholder="Enter Resturant Name..." class="w3-input"></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><input type="email" name="resturantName" placeholder="Enter Resturant Email..." class="w3-input"></td>
          </tr>
          <tr>
            <th>Mobile</th>
            <td><input type="number" name="resturantName" placeholder="Enter Resturant Number..." class="w3-input">
            </td>
          </tr>
          <tr>
            <th>Address</th>
            <td><input type="text" name="resturantName" placeholder="Enter Resturant Address..." class="w3-input">
            </td>
          </tr>
          <tr>
            <th></th>
            <td><button class="w3-btn w3-yellow w3-small w3-round">Update</button></td>
          </tr>
        </table>
  </div>
</div>